{% extends "base.html" %}
{% load page_tinymce %}
{% load page_files %}
{%block content%}
	<form action="{{ request.get_full_path }}"  method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" name="name" value="{{page.name}}"/>
		</div>	
		
		<div class="form-group">
			{% page_tinymce "content" page.content %}
		</div>
		<div class="form-group">
			{% page_files files %}
		</div>
		
		<input type="submit" value="Save" class="btn btn-primary"/>
	</form>
{%endblock%}