{% extends "base.html" %}
{% load spirit_tags i18n profileurl %}
{% block content %}
  {% if profile %}
	<h1 class="page-header">{{ profile.name}}
		{% if volunteer and volunteer.sec_accept or user.is_administrator %}<a href="{% profileurl "editprofile" profile.pk %}" class="btn btn-default">Edit</a>{% endif %}
		{% if volunteer and volunteer.sec_accept or user.is_administrator %}<a href="{% profileurl "managevolunteers" profile.pk %}" class="btn btn-default">Manage Volunteers</a>{% endif %}
		{% if not volunteer %}<a href="{% profileurl "volunteer" profile.pk%}" class="btn btn-default">Volunteer for this profile</a>{% endif %}
	</h1>
	{% if profile.status == profile.STATUS_DRAFT %}
	<br/>
	<div class="icon">
		<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;This profile is marked as a *draft*. This means it won't be listed in the profile listing just yet.</div>
	</div>
	{% endif %}
	{% if profile.status == profile.STATUS_TESTING %}
	<br/>
	<div class="icon">
		<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;This profile is marked as testing. This means it might not be fully set up yet, but is accepting and welcoming to players. Expect some bugs, but friendlyness.</div>
	</div>
	{% endif %}
	<div class="row placeholders">
		<div class="col-sm-2" href="/profiles/{{ profile.id }}/">
		  <img src="{{profile.image.url}}" class="img-responsive" alt="{{ profile.name}}">
		</div>
		<div class="col-sm-2" href="/profiles/{{ profile.id }}/">
		  <span class="text-muted">{{profile.description}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
				{% for page in pages %}
					<li role="presentation"{% if page.slug == page_active %} class="active"{% endif %}><a href="#{{page.slug}}" aria-controls="{{page.slug}}" role="tab" data-toggle="tab">{{ page.name }}</a></li>
				{% endfor %}
				<li role="presentation"><a href="#volunteers" aria-controls="volunteers" role="tab" data-toggle="tab">Volunteers</a></li>
				{% if volunteer and volunteer.sec_edit or user.is_administrator %}<li role="presentation"><a href="{% profileurl "addpage" profile.id %}"><span class="glyphicon glyphicon-plus"></span></a></li>{% endif %}
			  </ul>
			
			  <!-- Tab panes -->
			  <div class="tab-content">
				{% for page in pages %}
				<div role="tabpanel" class="tab-pane {% if page.slug == page_active %}active{% endif %}" id="{{page.slug}}">
					{% if volunteer and volunteer.sec_edit or user.is_administrator %}<a class="btn btn-primary" href="{% profileurl "editpage" page.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>{% endif %}
					{% if volunteer and volunteer.sec_edit or user.is_administrator %}<a class="btn btn-danger" style="float: right;" href="{% profileurl "deletepage" page.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete</a>{% endif %}
					{{page.content|safe}}
				</div>
				{% endfor %}
				<div role="tabpanel" class="tab-pane" id="volunteers">
					<table class="table">
						<thead>
							<th>Role</th><th>Name</th>
						</thead>
						<tbody>
							{% for volunteer in volunteers %}
							<tr>
								<td>{{volunteer.role}}</td><td>{{volunteer.member.firstname}} {{volunteer.member.surname}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				
				</div>
			  </div>

			</div>
		</div>
		<div class="col-md-6">
			<div class="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#forum" aria-controls="forum" role="tab" data-toggle="tab">Forum</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="forum">
						{% forum_other profile %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<style type="text/css">
		.tab-content {
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 2em;
			min-height: 5em;
		}
	</style>
	
  {% else %}
	<p>Whoops! This profile does not exist.</p>
  {% endif %}
{% endblock %}