{% extends "base.html" %}
{% load staticfiles profileurl %}
{% block content %}
	<div class="row">
		<form  action="{% profileurl "updateprofileinfo" profile_id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group field-phone">
				<label for="name" class="control-label">Name*</label>
				<input type="text" name="name" value="{{profile.name}}" id="name" class="form-control" required="required"/>
			</div>		
			<div class="form-group field-description">
				<label for="description" class="control-label">Description. A few sentences about your {{ profilemodel.modelname }}. Can be cut off in uncomfortable places.*</label>
				<textarea name="description" id="description" class="form-control">{{profile.description}}</textarea>
			</div>
			{% if profile.has_questions %}
				<div class="form-group field-questions">
					<label for="questions" class="control-label">Questions for volunteers*</label>
					<textarea name="questions" id="questions" class="form-control"/>{{profile.questions}}</textarea>
				</div>
			{% endif %}
			<div class="form-group field-image">
				<label for="image" class="control-label">Image*</label>
				<input type="file" name="image" value="" id="image" class="file">
				<p class="help-block">The file should be a PNG file with 300x300 dimensions</p>
			</div>
			{% if profile.has_status %}
				<div class="form-group field-status">
					<label for="status" class="control-label">Status*</label>
					<div class="radio">
					  <label><input type="radio" name="status" value="{{profile.STATUS_DRAFT}}" {% if profile.status == profile.STATUS_DRAFT %} checked="checked" {%endif%}>Draft</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="status" value="{{profile.STATUS_TESTING}}" {% if profile.status == profile.STATUS_TESTING %} checked="checked" {%endif%}>Testing</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="status" value="{{profile.STATUS_LIVE}}" {% if profile.status == profile.STATUS_LIVE %} checked="checked" {%endif%}>Live</label>
					</div>
					<p class="help-block">The status of the server.
						<ul>
							<li>Drafts won't be listed in the server listings, but can be viewed directly via the URL.</li>
							<li>Testing is for 'beta' servers, where you are not sure that everything is set up correctly but want players.</li>
							<li>It puts up a warning about it. Live has no warning, and you are listed, for you know, when you are done ;)</li>
						</ul>
					</p>
				</div>
			{% endif %}
<!--Here comes some GG power! -->
<script>
$(document).ready(function() {
	if ($('#rocketenabled').prop('checked') === true) {console.log("yeso")}
	else {console.log("noh"); $(".rocketchannel").toggle(); $(".rocketchannelP").toggle()}
	$(".Testerino").click(function() {$("#rocketwrapper").append('<div style="display: flex;"><input name="rocketchannel" type="text" class="rocketchannel form-control" value="{{channel.channelname}}" style="text-align: center; width: 200px;"> <span title="DELETE CHANNEL"><p class="rocketchannelP rocketchannelX">X</p></span></input></div>')})
$("#rocketenabled").click(function() {$(".rocketchannel").toggle(); $(".rocketchannelP").toggle()})
$(".rocketchannelX").click(function() {$(this).parent().parent().remove()})
})
</script>
<!--Okay that's enough shitty js-->
<div class="form-group field-rocket">
<label for="rocket" class="control-label">Rocket.Chat*</label>
				<div class="radio" id="rocketenabledwrapper">
				  <label id="rocketenabledlabel"><input id="rocketenabled" type="checkbox" name="rocketenabled" value="True" {% for channel in channels %} {% if channel.rocketenabled == True %} checked="checked" {%endif%} {% endfor %}>Enable Rocket.Chat for your {{ profilemodel.modelname }}.</input></label>
	</div>
	<p class="help-block">Current channels assigned to {{ profilemodel.modelname }}:
					 
					<div id="rocketwrapper">
						
														 	<!--Yeah boy, do dat flexing boi, yeeeeeh-->	
	{% for channel in channels %}<div style="display: flex;"><input name="rocketchannel" type="text" class="rocketchannel form-control" value="{{channel.channelname}}" style="text-align: center; width: 200px;"> <span title="DELETE CHANNEL"><p class="rocketchannelP rocketchannelX">X</p></span></input></div>{% endfor %}
</div>
<p class="Testerino rocketchannelP" id="rocket+" style="width: 25px;">+</p>

	</p>


											</div>
			<div>
				<label for="rocketchat" class="control-label">Rocket.Chat config*</label>
</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Save!"/>
			</div>
		</form>
	</div>
{% endblock %}
