<!DOCTYPE html>
<html lang="en">
  <head>
		<style>
			.rocketchannelP {
				
			 font-family: 'Helvetica', 'Arial', sans-serif; color: #adadad; margin-left: 10px; font-size: 30px; margin-bottom: 0px; }
			.rocketchannelP:hover {
				color: #2c2c2c; cursor:pointer;
			}
		</style>
	{% load spirit_tags i18n %}
	{% load page_menu %}
	{% load pipeline %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ config.site_description }}">
    <meta name="author" content="">
		
    <title>{{ config.site_name }}</title>
	{% load staticfiles %}
	
    <!-- Bootstrap core CSS -->
	{% stylesheet "main" %}
	{% javascript "main" %}
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<!-- staaaph-->
	
	{% block help %}{% endblock %}
	
	<script type="text/javascript">
		$(function() {

			$.tab();

			$( 'a.js-post' ).postify( {
				csrfToken: "{{ csrf_token }}",
			} );

			{% if user.is_authenticated %}
				$.notification( {
					notificationUrl: "{% url "spirit:topic-notification-ajax" %}",
					notificationListUrl: "{% url "spirit:topic-notification-list-unread" %}",
					mentionTxt: "{% trans "{user} has mention you on {topic}" %}",
					commentTxt: "{% trans "{user} has commented on {topic}" %}",
					showAll: "{% trans "Show all" %}",
					empty: "{% trans "No new notifications, yet" %}",
					unread: "{% trans "unread" %}",
				} );
			{% endif %}

		});
	</script>
	{% block extrahead %}{% endblock %}
	{% block extra_script %}{% endblock %}
	{% block head-extra %}{% endblock %}
	<style type="text/css">
		.suchaspirit .nav>li>a {
			display: inline;
		}
		
		.suchaspirit .container {
			width: auto;
		}
		
	</style>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="padding-left: 65px;"><img src="{% static 'servers/css/logo_small.png' %}" style="position: absolute; top: 3px; left: 20px;"/>{{ config.site_name }}</a>
		  <a class="btn btn-primary" href="https://chat.gfe.nu" style="margin-left: 65px; margin-top: 0.6em;">Chat</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
		{% if not user.is_authenticated %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" class="do_register">Become a Member</a></li>
				<li><a href="#" class="do_login">Login</a></li>
			</ul>
		{% else %}
			<ul class="nav navbar-nav navbar-right">
				
				<li class="dropdown">
					<a class="header-tab-link {% if has_notifications %} is-highlighted {% endif %}" data-toggle="popover" href="{% url "spirit:topic-notification-list" %}" data-related=".js-notifications-content"><i class="fa fa-bell"></i></a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as {{ user }} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="menu-link" href="{% url "spirit:profile-detail" pk=user.pk slug=user.slug %}">{% trans "Profile" %}</a></li>
						<li><a class="menu-link" href="{% url "spirit:topic-unread-list" %}">{% trans "Unread topics" %}</a></li>
						<li><a class="menu-link" href="{% url "spirit:private-list" %}">{% trans "Private topics" %}</a></li>
						{% if user.is_administrator %}
							<li><a class="menu-link" href="{% url "spirit:admin" %}">{% trans "Admin" %}</a></li>
						{% endif %}
					</ul>
					<li><a href="#" id="logout" class="btn">Log out</a></li>
				</li>
			</ul>
		{% endif %}
			

		  <!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
		  -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li{% if not section or section == "servers" %} class="active"{% endif %}><a href="{% url "index" %}">Servers <span class="sr-only">(current)</span></a></li>
		  	<li{% if section == "gfegroups"%} class="active"{% endif %}><a href="{% url "gfegroups:index" %}">Groups</a></li>
		  	<li{% if section == "members"%} class="active"{% endif %}><a href="{% url "member:members_index" %}">Members</a></li>
		    <li{% if section == "forums"%} class="active"{% endif %}><a href="{% url "spirit:index" %}">Forums</a>{% if section == "forums"%}
			{% if user.is_administrator %}
				<ul class="nav" style="padding-left: 1em; font-size: 0.9em">
						<li><a href="#" style="color: black; font-weight: bold;">Admin</a></li>
						<li><a class="side-menu-link{% ifequal active "dashboard" %} is-selected{% endifequal %}" href="{% url "spirit:admin" %}">{% trans "Dashboard" %}</a></li><!--
					 --><li><a class="side-menu-link{% ifequal active "basic_settings" %} is-selected{% endifequal %}" href="{% url "spirit:admin-config-basic" %}">{% trans "Basic settings" %}</a></li><!--
					 --><li><a class="side-menu-link{% ifequal active "categories" %} is-selected{% endifequal %}" href="{% url "spirit:admin-category" %}">{% trans "Categories" %}</a></li><!--
					 --><li><a class="side-menu-link{% ifequal active "topics" %} is-selected{% endifequal %}" href="{% url "spirit:admin-topic" %}">{% trans "Topics" %}</a></li><!--
					 --><li><a class="side-menu-link{% ifequal active "users" %} is-selected{% endifequal %}" href="{% url "spirit:admin-user" %}">{% trans "Users" %}</a></li><!--
					 --><li><a class="side-menu-link{% ifequal active "flags" %} is-selected{% endifequal %}" href="{% url "spirit:admin-flag" %}">{% trans "Flags" %}</a></li>
				</ul>
			{% endif %}
		{% endif %}</li>
          </ul>
	  <ul class="nav nav-sidebar">
	 	{% page_menu %}
	  </ul>
	Do you want to know if things happen with GFE?
	Register for our new newsletter here!<br/><br/>
	<a class="btn btn-primary" href="{% url 'newsletter_list' %}">Yes! Take me to your newsletter list!</a>
        </div>
		
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			{% if user.is_authenticated and user.membership_populated == 0%}
				You should totes become a member of the association as well, it helps us when we get grants, and you get democratic voting rights on the annual meeting.
				<a href="{% url 'become_member' %}">Become a member!</a>
			{% endif %}
			{% block containertop %}{% endblock %}
			{% block content %}{% endblock %}
			{% block body %}{% endblock body %}
			{% block containerbottom %}{% endblock %}
		</div>
      </div>
    </div>

	<div id="modal" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">

		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<script type="text/javascript">

	
		$(function(){
			$("#modal").on('show.bs.modal', function (event) {
				var modal = $(this);
				modal.find('.modal-content').load(modal.data("url"));
			});
		
			$(".do_register").click(function(){
				$("#modal").data("url", "{% url 'member:register' %}").modal();
			});
			
			$(".do_login").click(function(){
				$("#modal").data("url", "{% url 'member:login' %}").modal();
			});
			
			$("#logout").click(function(){
				$.get("{% url 'member:logout' %}", function(){
					document.location = "{% url 'index' %}"
				});
			});
			
		});
	</script>
  </body>
</html>
