<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gaming For Everyone</title>
	{% load staticfiles %}
	
    <!-- Bootstrap core CSS -->
    <link href="{% static 'servers/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'servers/css/dashboard.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'servers/js/jquery.min.js' %}"></script>
    <script src="{% static 'servers/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'servers/js/jquery.cookie.js' %}"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gaming For Everyone</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			{% if not member %}
            <li><a href="#" id="register">Become a Member</a></li>
            <li><a href="#" id="login">Login</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
			{% else %}
				<li><a href="#">Logged in as {{ member.firstname }} {{ member.surname }} </a></li>
				<li><a href="#" id="logout" class="btn">Log out</a></li>
			{% endif %}
          </ul>
		  <!--
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
		  -->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url "index" %}">Servers <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Volunteers</a></li>
            <li><a href="#">Forums</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Page 1</a></li>
            <li><a href="">Page 2</a></li>
          </ul>
        </div>
		
		<div>
			{% block content %}
			{% endblock %}
		</div>
      </div>
    </div>

	<div id="modal" class="modal fade">
	  <div class="modal-dialog">
		<div class="modal-content">

		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'servers/js/docs.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'servers/js/ie10-viewport-bug-workaround.js' %}"></script>
	<script type="text/javascript">

	
		$(function(){
			$("#modal").on('show.bs.modal', function (event) {
				var modal = $(this);
				modal.find('.modal-content').load(modal.data("url"));
			});
		

		
			$("#register").click(function(){
				$("#modal").data("url", "{% url 'register' %}").modal();
			});
			
			$("#login").click(function(){
				$("#modal").data("url", "{% url 'login' %}").modal();
			});
			
			$("#logout").click(function(){
				$.get("{% url 'logout' %}", function(){
					document.location = "{% url 'index' %}"
				});
			});
			
		});
	</script>
  </body>
</html>