{% extends "base.html" %}
{% load spirit_tags i18n %}
{% block content %}
  {% if server %}
	<h1 class="page-header">{{ server.name}}
		{% if volunteer and volunteer.sec_accept or user.is_administrator %}<a href="{% url "server:editserver" server.id %}" class="btn btn-default">Edit</a>{% endif %}
		{% if volunteer and volunteer.sec_accept or user.is_administrator %}<a href="{% url "server:managevolunteers" server.id %}" class="btn btn-default">Manage Volunteers</a>{% endif %}
		{% if not volunteer %}<a href="{% url "server:volunteer" server.id%}" class="btn btn-default">Volunteer for this Server</a>{% endif %}
	</h1>
	<div class="row placeholders">
		<div class="col-sm-2" href="/servers/{{ server.id }}/">
		  <img src="{{server.image.url}}" class="img-responsive" alt="{{ server.name}}">
		</div>
		<div class="col-sm-2" href="/servers/{{ server.id }}/">
		  <span class="text-muted">{{server.description}}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#howto" aria-controls="howto" role="tab" data-toggle="tab">Howto</a></li>
				<li role="presentation"><a href="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a></li>
				<li role="presentation"><a href="#volunteers" aria-controls="volunteers" role="tab" data-toggle="tab">Volunteers</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="howto">{{server.howto|safe}}</div>
				<div role="tabpanel" class="tab-pane" id="rules">{{server.rules|safe}}</div>
				<div role="tabpanel" class="tab-pane" id="volunteers">
					<table class="table">
						<thead>
							<th>Role</th><th>Name</th>
						</thead>
						<tbody>
							{% for volunteer in volunteers %}
							<tr>
								<td>{{volunteer.role}}</td><td>{{volunteer.member.firstname}} {{volunteer.member.surname}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				
				</div>
			  </div>

			</div>
		</div>
		<div class="col-md-6">
			<div class="tabpanel">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#forum" aria-controls="forum" role="tab" data-toggle="tab">Forum</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="forum">
						{% forum_other server %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<style type="text/css">
		.tab-content {
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 2em;
			min-height: 5em;
		}
	</style>
	
  {% else %}
	<p>Whoops! This server does not exist.</p>
  {% endif %}
{% endblock %}