{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<script type="text/javascript" src="{% static 'servers/tinymce/js/tinymce/jquery.tinymce.min.js' %}"></script>
	<script type="text/javascript">
	$(function(){
		$("textarea.tinymce").each(function(){
			$(this).tinymce({
				script_url : '{% static 'servers/tinymce/js/tinymce/tinymce.min.js' %}',
				theme : "modern",
			});
		});
	});
	</script>

	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<div class="row">
			<form  action="{% url "updateserverinfo" server.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group field-phone">
					<label for="name" class="control-label">Name*</label>
					<input type="text" name="name" value="{{server.name}}" id="name" class="form-control" required="required"/>
					<p class="help-block">It would help us a lot if you added the country prefix, but if you cant figure it out leave it out.</p>
				</div>		
				<div class="form-group field-description">
					<label for="description" class="control-label">Description. A few sentences about your server. Can be cut off in uncomfortable places.*</label>
					<textarea name="description" id="description" class="form-control">{{server.description}}</textarea>
				</div>
				<div class="form-group field-howto">
					<label for="howto" class="control-label">Howto (instructions for joining the server)*</label>
					<textarea name="howto" id="howto" class="tinymce">{{server.howto|safe}}</textarea>
				</div>
				<div class="form-group field-rules">
					<label for="rules" class="control-label">Rules*</label>
					<textarea name="rules" id="rules" class="tinymce">{{server.rules|safe}}</textarea>
				</div>
				<div class="form-group field-questions">
					<label for="questions" class="control-label">Questions for volunteers*</label>
					<textarea name="questions" id="questions" class="form-control"/>{{server.questions}}</textarea> 
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Save!"/>
				</div>
			</form>
		</div>
		<div class="row">
			<form action="{% url "uploadserverimage" server.id %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group field-image">
					<label for="image" class="control-label">Image*</label>
					<input type="file" name="image" value="" id="image" class="file">
					<p class="help-block">The file should be a PNG file with 300x300 dimensions</p>
				</div>
				<div class="form-group">
					<input type="submit" value="Upload new image (discards all other changes on the page!)" class="btn btn-primary"/>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
