{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="row">
		<form  action="{% url "server:updateserverinfo" server_id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group field-phone">
				<label for="name" class="control-label">Name*</label>
				<input type="text" name="name" value="{{server.name}}" id="name" class="form-control" required="required"/>
				<p class="help-block">It would help us a lot if you added the country prefix, but if you cant figure it out leave it out.</p>
			</div>		
			<div class="form-group field-description">
				<label for="description" class="control-label">Description. A few sentences about your server. Can be cut off in uncomfortable places.*</label>
				<textarea name="description" id="description" class="form-control">{{server.description}}</textarea>
			</div>
			<div class="form-group field-questions">
				<label for="questions" class="control-label">Questions for volunteers*</label>
				<textarea name="questions" id="questions" class="form-control"/>{{server.questions}}</textarea> 
			</div>
			<div class="form-group field-image">
				<label for="image" class="control-label">Image*</label>
				<input type="file" name="image" value="" id="image" class="file">
				<p class="help-block">The file should be a PNG file with 300x300 dimensions</p>
			</div>
			<div class="form-group field-status">
				<label for="status" class="control-label">Status*</label>
				<div class="radio">
				  <label><input type="radio" name="status" value="{{server.STATUS_DRAFT}}" {% if server.status == server.STATUS_DRAFT %} checked="checked" {%endif%}>Draft</label>
				</div>
				<div class="radio">
				  <label><input type="radio" name="status" value="{{server.STATUS_TESTING}}" {% if server.status == server.STATUS_TESTING %} checked="checked" {%endif%}>Testing</label>
				</div>
				<div class="radio">
				  <label><input type="radio" name="status" value="{{server.STATUS_LIVE}}" {% if server.status == server.STATUS_LIVE %} checked="checked" {%endif%}>Live</label>
				</div>
				<p class="help-block">The status of the server.
					<ul>
						<li>Drafts won't be listed in the server listings, but can be viewed directly via the URL.</li>
						<li>Testing is for 'beta' servers, where you are not sure that everything is set up correctly but want players.</li>
						<li>It puts up a warning about it. Live has no warning, and you are listed, for you know, when you are done ;)</li>
					</ul>
				</p>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Save!"/>
			</div>
		</form>
	</div>
{% endblock %}
