{% extends "servers/base.html" %}
{% block content %}
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  {% if server %}		
			{% if volunteer and volunteer.sec_accept %}
				<h1 class="page-header">{{ server.name}}</h1>
				<div class="row placeholders">
					<div class="col-sm-2" href="/servers/{{ server.id }}/">
					  <img src="{{server.image.url}}" class="img-responsive" alt="{{ server.name}}">
					</div>
					<div class="col-sm-2" href="/servers/{{ server.id }}/">
					  <span class="text-muted">{{server.description}}</span>
					</div>
				</div>
				<div class="row">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Date</th>
								<th>Name of applicant</th>
								<th>Answers to questions</th>
								<th colspan="2">Access rights</th>
								<th>Role</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{% for a in applicants %}
								<tr {% if not a.status = "OK" %} class="warning" {% endif %}>
									<td>{{a.createdon}}</td>
									<td>{{a.member.firstname}} {{a.member.surname}}</td>
									<td><a href="#" class="viewanswers" data-applicantid="{{a.id}}">View answers</a></td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" class="sec_accept" data-applicantid="{{a.id}}" {% if a.sec_accept %} checked="checked" {% endif %} name="sec_accept"/> Can edit serverinfo
											</label>
										</div>
									</td>
									<td>
										<div class="checkbox">
											<label>
												<input type="checkbox" class="sec_edit" data-applicantid="{{a.id}}" {% if a.sec_edit %} checked="checked" {% endif %} name="sec_edit"/> Can manage volunteers
											</label>
										</div> 
									</td>
									<td>
										<input type="text" class="form-control rolechange" data-applicantid="{{a.id}}" value="{{a.role}}"/>
									</td>
									<td>
										<span class="status_box">{{a.get_status_display}}</span>
										<!-- Small button group -->
										<div class="btn-group pull-right">
										  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
											Change <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu" role="menu">
											<li><a href="#" data-applicantid="{{a.id}}" data-status="OK">Set status to 'Accepted'</a></li>
											<li><a href="#" data-applicantid="{{a.id}}" data-status="DENIED">Set status to 'Denied'</a></li>
											<li><a href="#" data-applicantid="{{a.id}}" data-status="WAITING">Set status to 'Waiting'</a></li>
										  </ul>
										</div>

									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<style type="text/css">
					td {
						vertical-align: middle !important;
					}
				</style>
				
				<div id="modal_manage" class="modal fade">
					<div class="modal-dialog">

					
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title"></h4>
							</div>
							<pre></pre>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div><!-- /.modal-content -->

					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
				
				
				<script type="text/javascript">
				$(function(){
					csrftoken = $.cookie('csrftoken');
					$('.rolechange').keyup(function(e){
						outside = $(this);
						if(e.keyCode == 13)
						{
							$(this).attr('title', 'Saving...').tooltip('fixTitle').tooltip('show');
							$.ajax({
								url: "{% url 'servereditapplicant' %}",
								type: "POST",
								headers: {"X-CSRFToken": csrftoken},
								data: {"applicant_id": $(this).data("applicantid"), "role": $(this).val()}
							}).done(function(data){
								outside.attr('title', 'Saved!').tooltip('fixTitle').tooltip('show');
							}, 'json');
						}
					}).blur(function(e){
						$(this).tooltip("destroy");
					}).focus(function(e){
						$(this).tooltip({title: "When you want to save, just press enter.", trigger: "manual"}).tooltip("show");
					});
				
					$('.sec_edit').change(function(e){
						outside = $(this);
						$(this).attr('title', 'Saving...').tooltip('fixTitle').tooltip('show');
						$.ajax({
							url: "{% url 'servereditapplicant' %}",
							type: "POST",
							headers: {"X-CSRFToken": csrftoken},
							data: {"applicant_id": $(this).data("applicantid"), "sec_edit": $(this).is(':checked')}
						}).done(function(data){
							outside.attr('title', 'Saved!').tooltip('fixTitle').tooltip('show');
						}, 'json');
					}).blur(function(e){
						$(this).tooltip("destroy");
					});
				
					$('.sec_accept').change(function(e){
						outside = $(this);
						
						$(this).attr('title', 'Saving...').tooltip('fixTitle').tooltip('show');
						$.ajax({
							url: "{% url 'servereditapplicant' %}",
							type: "POST",
							headers: {"X-CSRFToken": csrftoken},
							data: {"applicant_id": $(this).data("applicantid"), "sec_accept": $(this).is(':checked')}
						}).done(function(data){
							outside.attr('title', 'Saved!').tooltip('fixTitle').tooltip('show');
						}, 'json');
					}).blur(function(e){
						$(this).tooltip("destroy");
					});
				
				
					$(".dropdown-menu a").click(function(){
						outside = $(this).parent().parent().parent();
						outside.attr('title', 'Saving...').tooltip('fixTitle').tooltip('show');
						$.ajax({
							url: "{% url 'servereditapplicant' %}",
							type: "POST",
							headers: {"X-CSRFToken": csrftoken},
							data: {"applicant_id": $(this).data("applicantid"), "status": $(this).data("status")}
						}).done(function(data){
							outside.attr('title', 'Saved!').tooltip('fixTitle').tooltip('show');
							outside.parent().parent().find(".status_box").text(data.statusdesc);
						}, 'json');
					});
					
					$("#modal_manage").on('show.bs.modal', function (event) {
						var modal = $(this);
						modal.find('.modal-content').load();
						
						$.ajax({
							url: modal.data("url"),
							type: "POST",
							headers: {"X-CSRFToken": csrftoken},
							data: {"applicant_id": modal.data("applicantid")}
						}).done(function(data){
							modal.find('.modal-content pre').text(data.content);
							modal.find('.modal-title').text(data.title);
							
						}, 'json');
					});
					
					$(".viewanswers").click(function(){
						$("#modal_manage").data("url", "{% url 'serverviewanswers' %}").data("applicantid", $(this).data("applicantid")).modal();
					});
				});
				
				</script>
			{% else %}
			<div class="alert alert-danger" role="alert">You don't have the right to access this function! Boo!</div>
			{% endif %}
	  {% else %}
		<p>Whoops! This server does not exist.</p>
	  {% endif %}
	</div>
{% endblock %}