{% extends "servers/base.html" %}
{% block content %}
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  {% if server %}
		<h1 class="page-header">Volunteer for {{ server.name}}</h1>
		<div class="row placeholders">
			<div class="col-sm-2" href="/servers/{{ server.id }}/">
			  <img src="{{server.image.url}}" class="img-responsive" alt="{{ server.name}}">
			</div>
			<div class="col-sm-2" href="/servers/{{ server.id }}/">
			  <span class="text-muted">{{server.description}}</span>
			</div>
		</div>
		<div class="row">		
			{% if not hasposted %}
			<form role="form" src="{% url "volunteer" server.id %}" method="POST">
			  {% csrf_token %}
			  <div class="form-group">
				<label for="email" id="answer">This server wants you to answer a couple of questions:</label>
				<textarea name="answer" id="answer" rows="20" class="form-control">{{server.questions}}</textarea>
			  </div>
			  <button type="submit" class="btn btn-primary">I want to volunteer!</button>
			</form>
			{% else %}
				<div class="alert alert-success" role="alert">You have successfully applied to Volunteer for this server!</div>
			{% endif %}
			
		</div>
	  {% else %}
		<p>Whoops! This server does not exist.</p>
	  {% endif %}
	</div>
{% endblock %}