{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

	<style type="text/css">
		.login .control-label {
			text-align: left;
		}
		.login .btn-default {
		  color: #333 !important;
		  background-color: #fff;
		  border-color: #ccc !important;
		}
		/* Ssccccchhhhh.... */
		.login .btn {
			color: #fff;
			display: inline-block;
			padding: 6px 12px;
			margin-bottom: 0;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.42857143;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			background-image: none;
			border: 1px solid transparent;
			border-radius: 4px;
		}
	</style>

    {% include "member/login.html" %}

{% endblock %}