{% extends "member/modal.html" %}
{% block heading %}Log in{% endblock %}{% block okbutton%}Log in{% endblock %}
{% block content %}
	<div class="login">
		<div class="alert alert-danger login_errorlist_box" style="display: none;">
			<ul class="login_errorlist">
			</ul>
		</div>
		<form action="{% url 'register' %}" method="post" class="col-md-12 form-horizontal login_form">
			{% csrf_token %}
			<div class="form-group field-login">
				<label for="login" class="control-label">Email</label>
				<input type="text" name="login" value="" id="login" class="form-control"  />
			</div>
			<div class="form-group field-password">
				<label for="password" class="control-label">Password</label>
				<input type="password" name="password" id="password" class="form-control"/>
			</div>
			<input type="hidden" name="next" value="{{ next }}" />
			<!--<input type="hidden" value="{{ request.GET.next }}" name="next"/>-->
		</form>
		<form method="post" class="col-md-12 form-horizontal forgot_form" style="display: none;">
			{% csrf_token %}
			Forgot your password? Write your email here and we will send you a new password.
			
			<div class="alert alert-danger forgot_errorlist_box" style="display: none;">
					<ul class="forgot_errorlist">
					</ul>
			</div>
			
			<div class="alert alert-success forgot_success" style="display: none;">
				Success!
			</div>
			
			<div class="form-group field-login">
				<label for="login" class="control-label">Email</label>
				<input type="text" name="login" value="" id="login" class="form-control"  />
			</div>
			<a class="btn btn-default forgot_button">Send email</a>
		</form>
	</div>
	<div class="clearfix"></div>
	<script type="text/javascript">
		$(function(){
			btn = $(".modal-footer").find(".btn-primary");
			btn.unbind();
			
			loginf = function() {
				form = $(this).parent().parent().find("form");
				
				response = $.post("{% url 'login_post' %}", $(".login_form").serialize(), function(data)
				{
					errorbox = form.parent().find(".login_errorlist_box").hide();
					errorlist = form.parent().find(".login_errorlist").html("");
					
					for (i = 0; i < data.errors.length; i++) {
						errorbox.show();
						errorlist.append("<li>"+data.errors[i]+"</li>");
					}
					
					if(data.errors.length == 0)
					{
						if(data.redirectto)
						{
							document.location = data.redirectto;
						} else {
							document.location = "{% url 'index' %}";
						}
					}
					
				}, 'json');
			};
			btn.click(loginf);
			$(".login_form input[type=password]").unbind().keypress(function(e) {
				if(e.which == 13) {
					loginf();
				}
			});
			
			$(".forgot").click(function(){
				$(".login_form").hide();
				$(".forgot_form").show();
				$(".modal-footer").hide();
			});
			
			$(".forgot_button").click(function() {
				$(".login_form").hide();
				$(".forgot_form").show();
				$(".modal-footer").hide();
				response = $.post("{% url 'forgot_post' %}", $(".forgot_form").serialize(), function(data)
				{
					errorbox = $(".forgot_errorlist_box").hide();
					errorlist = $(".forgot_errorlist").html("");
					
					for (i = 0; i < data.errors.length; i++) {
						errorbox.show();
						errorlist.append("<li>"+data.errors[i]+"</li>");
					}
					
					if(data.errors.length == 0)
					{
						$(".forgot_success").show();
					}
					
				}, 'json');
			});
		});
	</script>
{% endblock %}
{% block footer %}
	<button type="button" class="btn btn-default pull-left forgot">Forgot your password?</button>
{% endblock %}
