{% extends "base.html" %}
{% block content %}
<h1 class="page-header">Members</h1>
  <div class="row placeholders">
	{% if members %}
		{% for member in members %}
			<div class="col-md-3">
				<div class="thumbnail">
					{% if member.image %}
						<img alt="300x200" src="http://lorempixel.com/600/200/people">
					{% endif %}
					<div class="caption">
						<h3>{{ member }}</h3>
						<p></p>
						<p><a class="btn btn-primary" href="{% url "spirit:profile-detail" member.id %}">view</a> <a class="btn" href="#">Action</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No members are visible.</p>
	{% endif %}
  </div>
</div>
{% endblock %}
