{% extends "member/modal.html" %}
{% block heading %}Become a Member!{% endblock %}{% block okbutton%}Become a Member!{% endblock %}
{% block content %}
	<div class="alert alert-danger register_errorlist_box" style="display: none;">
		<ul class="register_errorlist">
		</ul>
	</div>
	<form action="{% url 'register' %}" method="post" class="col-md-12 form-horizontal">
		{% csrf_token %}
		
		<div class="form-group field-email">
			<label for="email" class="control-label">Your Email*</label>
			<input type="text" name="email" value="" id="email" class="form-control" required="required"/>
		</div>

		<div class="form-group field-username">
			<label for="username" class="control-label">Username</label>
			<p class="help-block">This is the username you will log in with, and the nickname that will be visible on the website.</p>
			<input type="text" name="username" value="" id="username" class="form-control" required="required"/>
		</div>
		
		<div class="form-group field-password">
			<label for="password" class="control-label">Password</label>
			<input type="password" name="password" id="password" class="form-control" required="required"/>
		</div>			
		
		<div class="checkbox field-accept">
			<p class="help-block">Before registering a user, we need you to understand how we are going to use your personal information. For one thing, we are going to store your information in a database. Apart from that, we are also going to use your personal information when we need to contact you.</p>
			<label for="accept" class="control-label">
				<input type="checkbox" name="accept" value="checked" id="accept" required="required"/> I accept how you are going to use my personal information.*
			</label>
		</div>
	</form>
	<div class="clearfix"></div>
	<script type="text/javascript">
		$(function(){
			btn = $("#modal").find(".btn-primary");
			btn.unbind();
			btn.click(function() {
				form = $(this).parent().parent().find("form");
				response = $.post("{% url 'register_post' %}", form.serialize(), function(data)
				{
					errorbox = form.parent().find(".register_errorlist_box").hide();
					errorlist = form.parent().find(".register_errorlist").html("");
					
					for (i = 0; i < data.errors.length; i++) {
						errorbox.show();
						errorlist.append("<li>"+data.errors[i]+"</li>");
					}
					
					if(data.errors.length == 0)
					{
						document.location = "{% url 'index' %}";
					} else {
						$("html, body").animate({ scrollTop: 0 }, "fast");
					}
				}, 'json');
			});
		});
	</script>
{% endblock %}
